.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
# Ignore old asset files
**/assets/**/old/**
# Ignore xcf files
**/*.xcf
# Ignore all .json
**/*.json
# But explicitly keep .min.json
!**/*.min.json
# Ignore the packing script
**/package_extension.sh
# Ignore the source assets folder (original files)
assets/**
assets/**/*.min.json
# Ignore videos because they are not needed in the release file
*.mp4
