name: Exempt specific creators

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

permissions:
  issues: write
  pull-requests: write

jobs:
  exempt:
    runs-on: ubuntu-latest
    steps:
      - name: Add exempt label
        if: (github.event_name == 'issues' && contains(fromJSON('["renovate[bot]", "HenraL"]'), github.event.issue.user.login)) || (github.event_name == 'pull_request' && contains(fromJSON('["renovate[bot]", "HenraL"]'), github.event.pull_request.user.login))
        uses: actions/github-script@v8
        with:
          script: |
            const number = context.issue?.number || context.payload.pull_request?.number;
            const repo = context.repo;
            if (number) {
              github.rest.issues.addLabels({
                ...repo,
                issue_number: number,
                labels: ['exempt']
              });
            }
